FLASK_APP='App.webapp'
FLASK_ENV='development'
FLASK_DEBUG=1
FLASK_RUN_PORT=5002
FLASK_RUN_HOST='0.0.0.0'

SECRET_KEY=123456789123456789
DEBUG=True
APP_SETTINGS=config.DevelopmentConfig
DATABASE_URL=sqlite:///db.sqlite
APP_NAME="SHORTY - Desktop Companion"
