.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: rgb(78, 146, 137);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 5px 5px 5px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3px;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 3px;
}

.appbar {
    background-color: rgb(78, 146, 137);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(11, 10, 10);
    padding: 5px 5px 5px 5px;
}

.appbar a {
    text-decoration: none;
    color: inherit;
}

.appbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3px;
}

.appbar-item {
    font-variant: small-caps;
    margin-left: 3px;
}

.main {
    padding: 5px 5px 5px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(129, 186, 108);
}

.main-brand {
    color: rgb(94, 30, 16);
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 3px;
}

.main-item {
    margin-left: 3px;
    color: rgb(70, 22, 11);
}

.hg__header { grid-area: header; 
			  font-size: 1.2em;
			  font-weight: 600;
			  color: rgb(255, 255, 0);
			  text-align: center;
			  padding: 2px 0px 0px 0px;
			  background-color: rgb(17, 70, 63);
		}

.hg__footer { grid-area: footer; 
			  background-color: rgb(73, 93, 41);
}

.hg__main { grid-area: main; 
			background-color: rgb(15, 20, 91);
			padding: 5px 5px 5px 5px;
			margin-top: 0px;
		}

.hg__left { grid-area: nav; 
		    background-color: rgb(62, 12, 12);
			padding: 5px 5px 5px 5px;
		}

.hg__right { grid-area: app; 
			 background-color: rgb(52, 9, 56);
			 padding: 5px 5px 5px 5px;
		}

.hg {
	display: grid;
	grid-template-areas: "header header header"
	                     " nav    main   app"
	                     "footer footer footer";
	grid-template-columns: 110px 1fr 110px;
	grid-template-rows: 30px
						max-content /* 1fr */
						22px;
	background-color: rgb(255, 255, 0);
}

@media screen and (max-width: 550px) {
	.hg {
		grid-template-areas: "header"
		                     "nav"
		                     "main"
		                     "app"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: 30px
							max-content
							max-content	/* 1fr */
							max-content
							22px;
	}
}
