{% extends "layout.html" %}
{% block title %}
DataTable
{% endblock %}
{% block header %}
Shorty - DataTable View
{% endblock %}
{% block content %}
    <h1>Upload CSV File</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv"><br><br>
        <input type="submit" value="Upload">
    </form>
    <br>
    {% if table_html %}
        <div>{{ table_html | safe }}</div>
    {% else %}
        <div class="message">Please upload a CSV file to display its content.</div>
    {% endif %}
{% endblock %}
