{% extends "layout.html" %}
{% block title %}
DataTable
{% endblock %}
{% block header %}
Shorty - {{ session.username }}
{% endblock %}
{% block content %}
    {% if session.table_html %}
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="text/html">
            <input type="submit" value="Upload">
            <span>{{ session.filename }}</span>
        </form>
        <div>{{ session.table_html | safe }}</div>
    {% else %}
        <h2>Upload your Shorty File</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="text/html"><br>
            <input type="submit" value="Upload">
        </form>
        <br>
        <div class="message">Please upload a HTML file to display its content.</div>
    {% endif %}
{% endblock %}
