{% extends "layout.html" %}
{% block title %}
Home Page
{% endblock %}
{% block header %}
Shorty - Home Page
{% endblock %}
{% block content %}
    <div class="main-brand" style="display: inline;"><strong>Home page</strong> for the {{ name }} Shorty (a <i>Flask</i> application)!</div>
    <div class="main-brand" style="display: inline; float: right;">
        <form action="{{ url_for('logout') }}">
            <input type="submit" value="Log Out"/>
        </form>
    </div><br/><br/>
    <div class="main-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/><br/>
    Ut enim ad minim veniam, quis nostrud <i>exercitation</i> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <u>reprehenderit</u> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
{% endblock %}
