<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico')}}" />
    </head>

    <body class="hg">
        <header class="hg__header">{% block header %}{% endblock %}
        </header>
        <main class="hg__main">
            <div class="main">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <p>{{msg}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <aside class="hg__left">
            <div class="navbar">
                <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
                <a href="{{ url_for('datatable') }}" class="navbar-item">DataTable</a>
                <a href="{{ url_for('about') }}" class="navbar-item">About</a>
                <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a><br/>
            </div>
        </aside>
        <aside class="hg__right">
            <div class="appbar">
                <span class=appbar-brand>Apps</span>
                <span class=appbar-item>Number 1</span>
                <span class=appbar-item>Number 2</span>
                <span class=appbar-item>Number 3</span>
                <span class=appbar-item>Number 4</span>
                <span class=appbar-brand>Other</span>
                <span class=appbar-item>Number 5</span>
                <span class=appbar-item>Number 6</span>
                <br/>
            </div>
        </aside>
        <footer class="hg__footer">
            <hr/>
            <p>&copy; 2025</p>
        </footer>
    </body>
</html>
